:root {
  --md-default-fg-color: #1d1d1f;
  --md-default-fg-color--light: #1d1d1f;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: bold;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem;
}
